@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family:Inter ;

}

body{
  padding: 0;
  margin: 0;
 min-height: 100vh;
 overflow-x: hidden;
}



.Authentification{
 display: flex;
 width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;

}


.image {
  position: relative;
  flex-shrink: 0;
}

.image img{
  width: 550px;
  height: 911px;
  display: block;
  object-fit: cover;
}


.nomlogo{
  color: #fff;
  position: absolute;
  top: 60px;
  left: 32px;
  z-index: 1;
  background: transparent;
  text-shadow: 0 6px 18px rgba(0,0,0,0.45);
}


.nomlogotitre{
  font-size: 75px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1px;
  position: absolute;
  top: 200px;
  left: 55px;
}


.nomlogosoustitre{
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  position: absolute;
  top: 270px;
  left: 55px;
  max-width: 500px;
  
}


.backsectionauth{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sectionAuth{
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center; 
  color: rgb(46, 49, 49); 
  align-items: center;
  flex-direction: column;
  z-index: 1;
  padding: 40px;
  max-width: 500px;
  width: 90%;
}


.logoimage img{
  width: 60px;
  height: 110px;
  display: block;
  margin: 0 auto;
}

.logoimage img:hover{
  transform: translateY(15px)  translateX(15px) ;
  transition: 2s;
 

}



.contener{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  

}

.contener input{
  height: 40px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  /* border-color: #DCCFB8; */
  border: 2px solid  #dccfb8af; 
  padding: 0 10px;
  box-sizing: border-box;

}

input:focus::placeholder {
  color: transparent;
}


.connecterzvous{
  text-align: center;
  line-height: 1.9;
}


.required{
  color: red;
  margin-left: 2px;
}


.lebouton  {
  width: 100%;
  max-width: 300px;
  height: 39px;
  background-color: #DCCFB8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 150ms ease, transform 150ms ease;
  

}
.lebouton:hover {
background-color: rgb(250, 232, 215);
  transform: translateY(-1px);
}

.creationcompte a {
  text-decoration: none;
text-align: center;
display: block;

  
}
.administrateur a{
 text-decoration: none;

}

.administrateur a:hover{
   text-decoration: underline;
 
 }

 .creationcompte a:hover{
  text-decoration: underline;

}




/* Écrans moyens (max-width: 1200px) */
@media screen and (max-width: 1200px) {
  .image img {
    width: 100%;
    max-width: 500px;
    height: 100vh;
  }

  .nomlogosoustitre {
    max-width: 450px;
  }
}

/* Tablettes (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .image img {
    width: 100%;
    max-width: 400px;
    height: 100vh;
  }

  .nomlogotitre {
    font-size: 60px;
    top: 150px;
    left: 40px;
  }

  .nomlogosoustitre {
    font-size: 18px;
    top: 220px;
    left: 40px;
    max-width: 350px;
  }

  .sectionAuth {
    padding: 30px;
    max-width: 450px;
  }
}

/* Tablettes en mode portrait (max-width: 768px) */
@media screen and (max-width: 768px) {
  .Authentification {
    flex-direction: column;
    overflow-y: auto;
  }

  .image {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .nomlogo {
    top: 20px;
    left: 20px;
  }

  .nomlogotitre {
    font-size: 45px;
    top: 50px;
    left: 20px;
    max-width: calc(100% - 40px);
  }

  .nomlogosoustitre {
    font-size: 16px;
    top: 110px;
    left: 20px;
    max-width: calc(100% - 40px);
    width: auto;
  }

  .backsectionauth {
    width: 100%;
    padding: 20px;
    min-height: auto;
  }

  .sectionAuth {
    width: 100%;
    max-width: 100%;
    padding: 30px 20px;
    border-radius: 20px;
    margin-top: 20px;
  }

  .contener {
    max-width: 100%;
  }

  .contener input {
    max-width: 100%;
  }

  .lebouton {
    max-width: 100%;
  }
}

/* Mobiles (max-width: 480px) */
@media screen and (max-width: 480px) {
  body {
    overflow-y: auto;
  }

  .Authentification {
    min-height: 100vh;
    overflow-y: auto;
  }

  .image img {
    height: 200px;
  }

  .nomlogotitre {
    font-size: 35px;
    top: 30px;
    left: 15px;
  }

  .nomlogosoustitre {
    font-size: 14px;
    top: 75px;
    left: 15px;
    line-height: 1.3;
  }

  .sectionAuth {
    padding: 25px 15px;
    border-radius: 15px;
    margin-top: 10px;
  }

  .logoimage img {
    width: 50px;
    height: 90px;
  }

  .connecterzvous {
    font-size: 14px;
    line-height: 1.6;
  }

  .contener label {
    font-size: 14px;
  }

  .contener input {
    height: 38px;
    font-size: 14px;
  }

  .lebouton {
    height: 38px;
    font-size: 14px;
  }

  .creationcompte a,
  .administrateur a {
    font-size: 13px;
  }
}

/* Très petits écrans (max-width: 320px) */
@media screen and (max-width: 320px) {
  .nomlogotitre {
    font-size: 28px;
  }

  .nomlogosoustitre {
    font-size: 12px;
  }

  .sectionAuth {
    padding: 20px 12px;
  }

  .logoimage img {
    width: 40px;
    height: 70px;
  }
}
